.upload-files-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    border: #00000050 dashed 3px;
    font-size: 26px;
}